:root {
    --grey: rgba(173, 173, 173, 0.911); 
    --lightGrey: rgba(197, 197, 197, 0.644); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 50%;
    
    border-radius: 30px 30px 180px 30px;
    padding: 45px;
}

.input-container{
    display: flex;
    /*border: 1px solid red;*/
}

.input-box{
    margin: 16px;
    color: var(--grey);
    /*border: 1px solid red;*/
}

.input-label{
    margin: 0px 0px 6px 0px;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 14px;
}

.input-value{
    width: 150px;
    padding: 8px 17px;
    
    font-size: 30px;
    font-weight: 600;
    border: 1px solid var(--lightGrey);
    border-radius: 10px;
    
}


.mid-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid green;*/
    margin: 5px 0px;
}

.mid-container hr{
    width: 89.5%;
    border-top: 1px solid;
    border-color: var(--lightGrey);
}

.mid-container button{
   background-color: hsl(259, 100%, 65%);
   border: 0px;
   width: 90px;
   height:90px;
   border-radius: 100%;
}

.mid-container button:hover{
        background-color: hsl(259, 85%, 54%);
        border: 1px solid var(--grey);
        cursor: pointer;
}




.mid-container img{
   width: 42px;
}

.output-container{
    display: flex;
    /*border: 1px solid blue;*/
    flex-direction: column;
    font-style:italic;
    font-weight: 900;
    font-size: 90px;

}

.output-box{
    display: flex;
}

.output-value{
    color:hsl(259, 100%, 65%);
    margin-right: 8px;
    letter-spacing: 16px;
}

.output-label{

}